# Java
*.class
*.jar
*.war
*.ear
target/
!.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
build/
*.log
npm-debug.log*

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!terraform.tfvars

# Secrets
*.pem
*.key
.env

# Local
postgres_data/
grafana_data/
